In [30]:
import pandas as pd
import numpy as np
import re

In [3]:
df = pd.read_csv('DataFiles/SGD-data.csv')
df.head()

,Country Name,Country Code,Series Name,Series Code,1990 [YR1990],1991 [YR1991],1992 [YR1992],1993 [YR1993],1994 [YR1994],1995 [YR1995],...,2010 [YR2010],2011 [YR2011],2012 [YR2012],2013 [YR2013],2014 [YR2014],2015 [YR2015],2016 [YR2016],2017 [YR2017],2018 [YR2018],2019 [YR2019]
0,Afghanistan,AFG,Access to clean fuels and technologies for coo...,EG.CFT.ACCS.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,20.6800,22.330000,24.080000,26.170000,27.990000,30.100000,32.44000,NaN,NaN,NaN
1,Afghanistan,AFG,Access to electricity (% of population),EG.ELC.ACCS.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,42.7000,43.222019,69.100000,70.153481,89.500000,71.500000,97.70000,97.700000,NaN,NaN
2,Afghanistan,AFG,"Access to electricity, rural (% of rural popul...",EG.ELC.ACCS.RU.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,30.2188,29.572881,60.849156,62.875693,86.500512,64.573354,97.09936,97.091973,NaN,NaN
3,Afghanistan,AFG,"Access to electricity, urban (% of urban popul...",EG.ELC.ACCS.UR.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,82.8000,86.567779,95.000000,92.735733,98.700000,92.500000,99.50000,99.500000,NaN,NaN
4,Afghanistan,AFG,Account ownership at a financial institution o...,FX.OWN.TOTL.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,9.005013,NaN,NaN,9.961000,NaN,NaN,14.893312,NaN,NaN

In [45]:
df1 = pd.melt(df, 
              id_vars=['Country Name', 'Series Name'], 
              value_vars=df.columns[4:], var_name='Year', 
              value_name='Indicator')
df1 = df1[df1['Indicator'].notnull()]
df1['Year'] = df1['Year'].str[:4]
df1

,Country Name,Series Name,Year,Indicator
14,Afghanistan,"Adolescent fertility rate (births per 1,000 wo...",1990,162.835400
19,Afghanistan,"Air transport, freight (million ton-km)",1990,9.400000
20,Afghanistan,"Air transport, passengers carried",1990,241400.000000
28,Afghanistan,Aquaculture production (metric tons),1990,300.000000
31,Afghanistan,Battle-related deaths (number of people),1990,1478.000000
...,...,...,...,...
2958880,Zimbabwe,"Unemployment, youth male (% of male labor forc...",2019,7.338000
2958882,Zimbabwe,"Unemployment, youth total (% of total labor fo...",2019,8.132000
2958888,Zimbabwe,"Wage and salaried workers, female (% of female...",2019,24.084000
2958889,Zimbabwe,"Wage and salaried workers, male (% of male emp...",2019,43.181999
2958890,Zimbabwe,"Wage and salaried workers, total (% of total e...",2019,33.848999

In [46]:
df1.to_csv('cleaned_data.csv')